<section class="top" style="background: linear-gradient(to right, var(--main-color) 25%, rgba(255, 255, 255, 0)), url('{{homeTop.imageTop}}') no-repeat center;     background-size: cover;
    background-attachment: fixed;">
        <div class="max-width">
            <div class="top-content">
                <div class="text-1">{{homeTop.titleOneTop}}</div>
                <div class="text-2">{{homeTop.titleTwoTop}}</div>
                <div class="text-3">{{homeTop.titleThreeTop}}</div>
                <a href="{{homeTop.linkBtnTop}}">{{homeTop.txtBtnTop}}</a>
            </div>
        </div>
    </section>

<section class="services">
    <div class="max-width">
        <h2 class="title">{{homeService.titleService}}</h2>
        <div class="serv-content">
            <div class="card">
            <div class="box">
                <i class="{{homeService.iconOne}}"></i>
                <div class="text">{{homeService.titleOneService}}</div>
                <p>{{homeService.descOneService}}</p>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <i class="{{homeService.iconTwo}}"></i>
                <div class="text">{{homeService.titleTwoService}}</div>
                <p>{{homeService.descTwoService}}</p>
            </div>
        </div>

            <div class="card">
            <div class="box">
                <i class="{{homeService.iconThree}}"></i>
                <div class="text">{{homeService.titleThreeService}}</div>
                <p>{{homeService.descThreeService}}</p>
            </div>
        </div>
    </div>
</div>

</section>

<section class="premium">
        <div class="max-width">
            <h2 class="title">{{homePremium.premTitle}}</h2>
            <div class="premium-content">
                <div class="column left">
                    <img src="{{homePremium.premImage}}" alt="{{homePremium.premTitle}}">
                </div>
                <div class="column right">
                    <div class="text">
                        {{homePremium.premSubtitle}}
                    </div>
                    <p>
                        {{homePremium.premDesc}}                     </p>
                    <a href="{{homePremium.premBtn_link}}">{{homePremium.premBtn_text}}</a>
                </div>
            </div>
        </div>
    </section>