<!-- Inicio do conteudo do administrativo -->
<div class="wrapper">
    <div class="row">
        <div class="top-list">
            <span class="title-content">Cadastrar</span>
            <div class="top-list-right">
                <a href="/abouts-companies-site?page=1" class="btn-info">Listar</a>
            </div>
        </div>

        <!-- Imprimir as mensagens que estão na sessão -->
        {{>_msgAdm}}

        <div class="content-adm">
            <!-- Formulário para cadastrar -->
            <form class="form-adm" action="/abouts-companies-site/add" method="post" enctype="multipart/form-data">

                <div class="row-input">
                    <div class="column">
                        <label class="title-input">Imagem (500X500):<span class="text-danger">*</span></label>
                        <input type="file" name="imageAboutsCompanies" id="imageAboutsCompanies" class="input-adm"
                            onchange="inputFilePriviewImgTop()">
                    </div>

                    <div class="column">
                        <span id="preview-img">
                            <img src="/images/about/icon_about_comp.jpg" alt="Imagem" class="view-image-home-top">
                        </span>
                    </div>
                </div>

                <div class="row-input">
                    <div class="column">
                        <label class="title-input">Título:<span class="text-danger">*</span></label>
                        <input type="text" name="titleAboutsCompanies" id="titleAboutsCompanies" class="input-adm" placeholder="Título sobre empresa"
                            value="{{data.titleAboutsCompanies}}">
                    </div>
                </div>

                <div class="row-input">
                    <div class="column">
                        <label class="title-input">Descrição:<span class="text-danger">*</span></label>
                        <input type="text" name="descAboutsCompanies" id="descAboutsCompanies" class="input-adm"
                            placeholder="Descrição sobre empresa" value="{{data.descAboutsCompanies}}">
                    </div>
                </div>

                <div class="row-input">
                    <div class="column">
                        <label class="title-input">Situação:<span class="text-danger">*</span></label>
                        <select name="situationAboutId" id="situationAboutId" class="input-adm">
                            <option value={{#if
                                data.situation.dataValues.id}}{{data.situation.dataValues.id}}{{else}}""{{/if}}
                                hidden="hidden" selected="selected">
                                {{#if data.situation.dataValues.id}}
                                {{data.situation.dataValues.nameSituation}}
                                {{else}}
                                Selecione
                                {{/if}}
                            </option>
                            {{#each data.situations}}
                            <option value="{{dataValues.id}}">{{dataValues.nameSituation}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <p class="text-danger mb-5 fs-4">* Campo Obrigatório</p>

                <input type="submit" class="btn-success" value="Cadastrar">
            </form>
        </div>
    </div>
</div>
<!-- Fim do conteudo do administrativo -->