 <!-- INICIO NAVBAR-->

        <div class="content-pagination">
                    <div class="pagination">
                        <!-- Link para redirecionar para primeira pagina-->
                        {{#if pagination.page}}
                        <a href="{{pagination.path}}?page=1">&laquo;</a>
                        {{/if}}
                        <!-- Link para redirecionarr para  pagina anterior a atual-->

                        {{#if pagination.prev_page_url}}
                        <a href="{{pagination.path}}?page={{pagination.prev_page_url}}">{{pagination.prev_page_url}}</a>
                        {{/if}}

                        <!-- Link para apresentar a pagina atual-->
                       
                        <a href="#" class="active">{{pagination.page}}</a>
                       
                        <!-- Link para redirecionar para  proxima pagina em relação a atual-->
                        {{#if pagination.next_page_url}}
                        <a href="{{pagination.path}}?page={{pagination.next_page_url}}">{{pagination.next_page_url}}</a>
                        {{/if}}

                        <!-- Link para redirecionar para ultima pagina-->

                        {{#if pagination.next_page_url}}
                        <a href="{{pagination.path}}?page={{pagination.lastPage}}">&raquo;</a>
                        {{/if}}
     </div>
 </div>
        <!--Fim Navbar-->
